
/* Your CSS Code here. */

.main {
  width: 200px;
  background-color: rgb(128, 0, 128);
  border-left: 5px solid rgb(0, 128, 0);
  padding: 10px;
  font-family:sans-serif;
}
.heading{
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}